<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#addnewtask">Add new Task</button>
<!-- The Modal -->
<form action="" method="post">
<div class="modal" id="addnewtask">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">Add new task to your list</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
            <input type="text" name="new_task" placeholder="Add task here..." size="35px">
            </div>
    
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="action" value="add_new_task">Add this task</button>
            </div>
        </div>
    </div>
</div>
</form>