<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>To-Do Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'bootstrap.html' %}
    </head>
    <body>
        <div class="col text-center">
            <h1 class="font-weight-bold">Akshatha's To-Do List</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Task</th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'show-task.html' %}
                </tbody>
            </table>
            {% include 'add-task.html' %}
        </div>
    </body>
</html>