<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>To-Do Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'bootstrap.html' %}
    </head>
    <body>
        <div class="col text-center mt-2">
            <h1 class="font-weight-bold">{{ user[0] }}'s To-Do List</h1>
            {% include 'show-task.html' %}
            {% include 'add-task.html' %}
        </div>
    </body>
</html>