<!-- The Modal -->
<form id="login_form" action="/" method="post">
<div class="modal" id="loginmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">Login form</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
            <input type="text" name="user_name" placeholder="username here" size="35px">
            <input type="password" name="password" placeholder="password here" size="35px">
            </div>
    
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="action" value="login_into">Login</button>
            </div>
        </div>
    </div>
</div>
</form>